<section class="singleSong card">
  <h1>Song Title: {{song_name}}</h1>
  <h2>Artist: {{artist}}</h2>
  {{#if genre}}
  <section class="subsection">
    <h3>Genre: {{genre}}</h3>
  {{/if}}
  {{#if UserId}}
    <h3>Picked by: {{User.name}}</h3>
  {{/if}}
  </section>
    <section class="btnSection">
    <button class="updateBtn" data-id={{id}}>Update</button>
    <button class="deleteBtn" data-id={{id}}>Delete</button>
    </section>
  <section>
    <a href="https://www.spotify.com" target="_blank"><button>Click here to
        listen on Spotify!</button></a>
    <a href="https://www.applemusic.com" target="_blank"><button>Click here to
        listen on Apple Music!</button></a>
  </section>
  {{!-- delete form when placed appropriately --}}
  {{>form}}
</section>