<section class="songCard card">
    <a href=song/{{id}}>
        <h1>{{song_name}}</h1>
        <h2>Artist: {{artist}}</h2>
        {{#if genre}}
        <h3>Genre: {{genre}}</h3>
        {{/if}}   
        {{#if UserId}}
        <h3>Picked by: {{User.name}}</h3>
        {{/if}}
    </a>
</section>